<% title @vm.name %>
<div class='col-md-12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2">Properties</th></tr>
    <%= prop :name %>
    <%= prop :ip_address %>
    <%= prop :cores %>
    <%= prop :memory %>
    <%= prop :identity %>
    <%= prop :created_at, 'Created' %>
    <%= prop :image_name, 'Image' if @vm.image.present? %>
  </table>
</div>
